*{
    margin: 0px;
    padding: 0px;
}
.container{
    1200px
    margin: 0 auto;
}
h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}