@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}
.container{
    width: 950px;
    min-height: 700px;
    display: flex;
}
#topbar{
    display: flex;
    justify-content: center;
    background-color: black;
    height: 50px;
    width: auto;
}
#card{
    outline: solid 3px lightgray;
    width: 400px;
    height: 300px;
    margin: 20px;

}
.blue{
    background-color: teal;
    width: 100%;
    height: 30%;

}
#profpic{
    width: 50px;
    margin: 3px;
    padding: 2px;
    border: solid 3px lightgray;
    border-radius: 50px;
    margin-left: 15px;
    position: relative;
    top: 40px;
}
#name{
    margin: 30px 18px 5px 18px;
}
#location{
    margin: 0px 10px 5px 5px;
    display: inline-block;
    vertical-align: top;
}
.charms{
    width: 12px;
    margin-left: 21px;
    vertical-align: center;
}
.description{
    margin-left: 20px;
    margin-bottom: 1px;
}
#editprofile{
    margin-top: 10px;
    vertical-align: center;
}
