@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
.container{
    width: 1200px;
    min-height: 350px;
    /* margin: 0 auto; */
    padding: 0px 100px;
    background-color: white;
    text-align: center;
}
#bottomBar,
.navbar,
#navlinks,
#discoverLink,
#leftSide,
#searchBar,
#loginbtn,
.pageTitle,
#banner2Panel,
.featurePanelContent,
#aloeButton,
#cookiePopup,
#acceptButton{
    font-family: 'Comfortaa';
    font-weight: 400;
}
.navbar{
    display: flex;
    justify-content: space-between;
    /* position: fixed; */
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: none;
    color: black;
    background-color: white;
    width: 1150px;
    height: 50px;
    align-items: center;
    padding: 0px 25px 0px 25px;
    margin-bottom: 15px;
}
#navlinks{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0px 27px;
}

#navlinks > li > a{
    text-decoration: none;
    color: black;
}
#searchBar{
    width: 64%;
    height: 60%;
    background-color: whitesmoke;
    border-radius: 15px;
    padding-left: 15px;

}
#cartIcon{
    height: 30px;
    width: 35px;
}
#leafIcon{
    height: 40px;
    background-color: #00D1B2;
    -webkit-transform: scale(-1,1);

}
.pageTitle{
    margin: 25px 0px 30px 0px;
    word-spacing: 1.1rem;
    letter-spacing: 4px;
    font-weight: 700;
}
.lineBreak{
    background-color: black;
    width: 93%;
    height: 5px;
    margin: 10px auto;
    padding: 0px 15px;
}
#banner2Panel{
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: 15px auto;
    /* outline: solid 2px white; */
    /* margin: 15px 25px; */
}
#leftBannerPanel{
    /* outline: solid 2px lightgray; */
    width: 64%;
    min-height: 50px;
    display: flex;
}
#leftSide{
    text-align: center;
    width: 43%;
    background-color: #00D1B2;
    color: white;
    height: 71.4%;
    padding: 50px 25px;
    font-size: 2.1rem;
}
#leftSide > h3{
    margin-top: 10px;
}

#discoverLink{
    display: flex;
    justify-content: center;
    margin-top: 75px;
    align-items: center;
    font-size: 2.1rem;
}
#discoverLink > a{
    text-decoration: none;
    color: white;
    font-weight: 700;
}
#discoverLink > img{
    height: 40px;
}

#rightSide{
    width: 50%;
    height: 300px;
}

#succulents1{
    width: 100%;
    height: 120%;
}
#rightBannerPanel{
    /* outline: solid 2px lightgray; */
    width: 35%;
    min-height: 200px;
}

#aloeBannerPic,
#aloeButton{
    width: 100%;
}
#aloeButton{
    display: flex;
    justify-content: left;
    align-items: center;
    height: 75px;
    color: white;
    background-color: #00D1B2;
    border: none;
    font-size: 1rem;
    margin-top: 15px;
    font-weight: 700;
    letter-spacing: 3px;
    padding-left: 25px;
    padding-right: -25px;
}
#aloeButton > img{
    margin-left: 10px;
    height: 25px;
    
}
.featurePanel{
    width: 1100px;
    margin: 15px 0px 50px 29px;
    display: flex;
    justify-content: space-between;
    /* margin: 0px 25px; */
    /* outline: solid 2px white; */
    background-color: #AEEAE9;
    padding: 50px 20px;

}

.featurePanelContent{
    /* outline: solid 2px lightgray; */
    width: 15%;
    min-height: auto;
    /* outline: solid 2px black; */
    text-align: center;
    
}
.featurePanelContent > img{
    width: 100%;
    border-radius: 50%;
}
.featurePanelContent > p{
    font-size: 0.9rem;
    margin-top: 15px;
}
#cookiePopup{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1096px;
    padding: 20px;
    border: solid black 2px;
    background-color: white;
    position: fixed;
    bottom: 0px;
    left: 129px;
}
#cookiePopup > p{
    width: 80%;
    text-align: left;
    margin-left: 20px;
    font-size: 1.1rem;


}
#acceptButton{
    background-color: #00D1B2;
    color: white;
    width: 120px;
    height: 35px;
    box-shadow: 2px 2px black;
}
