*{
    margin: 0px;
    padding: 0px;
}
.container{
    width: 950px;
    min-height: 250px;
    margin: 0 auto;
    background-color: whitesmoke;
}
.navbar{
    display: flex;
    justify-content: space-between;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: none;
    color: white;
    background-color: black;
    width: auto;
    height: 50px;
    align-items: center;
    padding: 0px 25px 0px 25px;
    margin-bottom: 10px;
}
#search{
    width: 50%;
    height: 35%;
    background-color: whitesmoke;
}
#loginbtn{
    width: 70px;
    height: 25px;
}
#main{
    display: flex;
    padding: 0px 5px;

}
#leftPanel{
    /* outline: solid 2px lightgray; */
    width: 70%;
    min-height: 500px;
}
#rightPanel{
    /* outline: solid 2px lightgray; */
    width: 30%;
    min-height: 500px;
}
.leftContentPanel,
.rightContentPanel{
    display: flex;
    border: 3px solid lightgrey;
    /* border-radius: 5px; */
    width: 98%;
    min-height: 250px;
    margin-bottom: 10px;
}
